html, body {
    width: 100%;
    overflow-x: hidden;
}

#index_body {
	height: 100%;
	margin-bottom: -370px;
	
}

#whole {
	background-image: url(../images/concrete_seamless.png);	

}

#h1 {
	margin-left: 120px;
	background: #4aaaa5;
	color: white;
	width: 200px;
	padding: 25px;
	text-align: center;
	font-family: Georgia;
	position: relative;	
	top: 18px;
	font-size: 30px;


}

#about_portfolio_contact {
	position: relative;
	left: 990px;
	bottom: 30px;
	font-family: sans-serif;
}

#border {
	border: 1px solid #dddddd;
	margin-top: -20px;
	border-top-width: 5px;
}

#about_me {
	margin-top: 45px;
	margin-left:120px;
	border: 1px solid #dddddd;
	width: 755px;
	padding-left: 50px;
	color: #4aaaa5;
	font-size: 25px;
	background-color: #fff;
	padding-bottom: 30px;
	font-family: Helvetica;	
	position: relative;
	bottom: 20px;
	font-weight: bold;
}

#connect_with_me_index {
	position : relative;
	left: 970px;
	bottom: 484px;
	color: #4aaaa5;
	border: 1px solid #dddddd;
	width:205px;
	text-align: center;
	padding: 15px;
	background-color: #fff;
	padding-bottom: 25px;
	font-family: Arial;
}

#copyright {
	position: relative;
	bottom: 51px;
	background: #666666;
	text-align: center;
	padding: 40px;
	color: white;
	z-index: 2;
	font-size: 16px;

}

#bio {
	position: relative;
	bottom: 573px;
	left: 486px;
	font-family: sans-serif;
	color: #777777;
}

#blue {
	position: relative;
	bottom: 457px;
	background: #4aaaa5;
	text-align: center;
	z-index: 1;
	color: #4aaaa5;
}

#white {
	border: 1px solid #fff;
	margin-bottom: 21px;
	background-color: #fff;

}

#contact_body {
	height: 100%;
}

#contact {
	margin-top: 45px;
	margin-left: 120px;
	border: 1px solid #dddddd;
	width: 755px;
	padding-left: 50px;
	color: #4aaaa5;
	font-size: 25px;
	background-color: #ffffff;
	padding-bottom: 30px;
	font-family: Helvetica;
	position: relative;
	bottom: 20px;
	font-weight: bold;

}

#submit_button {
	font-size: 20px;
	background: #4aaaa5;
	color: white;
	width: 85px;
	text-align: center;
	padding: 10px;
	font-family: Times;

}

#connect_withme {
	position : relative;
	left: 970px;
	bottom: 699px;
	color: #4aaaa5;
	border: 1px solid #dddddd;
	width:205px;
	text-align: center;
	padding: 15px;
	background-color: #fff;
	padding-bottom: 25px;
	font-family: Arial;
}

#footer {
	background-color: #666666;
	padding: 40px;
	color: #fff;
	text-align: center;
	z-index: 2;

}

#name {
	font-size: 20px;
	color: #777777;
}

#blue_footer {
	background-color: #4aaaa5;
	padding: 3px;
	position: relative;
	z-index: 1;
}

textarea {
	resize: none;
}

#portfolio_body {
	height: 100%;
	margin-bottom: -290px;
	
}

#portfolio {
	margin-top: 45px;
	margin-left: 120px;
	border: 1px solid #dddddd;
	width: 530px;
	padding-left: 50px;
	color: #4aaaa5;
	font-size: 25px;
	background-color: #ffffff;
	padding-bottom: 30px;
	font-family: Helvetica;
	position: relative;
	bottom: 20px;
	font-weight: bold;
	height: 800px;
}

#rpg {
	position: relative;
	left: 280px;
	bottom: 192px;
}

#trivia {
	position: relative;
	bottom: 140px;
}

#rutgers {
	position: relative;
	left: 280px;
	bottom: 333px;

}

#rock {
	position: relative;
	bottom: 280px;
	
}

#connect_withme_portfolio {
	position : relative;
	left: 790px;
	bottom: 850px;
	color: #4aaaa5;
	border: 1px solid #dddddd;
	width:205px;
	text-align: center;
	padding: 15px;
	background-color: #fff;
	padding-bottom: 25px;
	font-family: Arial;
}

#hangman_header {
	position: relative;
	bottom: 760px;
	left: 171px;
	background: #4aaaa5;
	width: 148px;
	text-align: center;
	color: #fff;
	padding: 20px;
	font-size: 24px

}

#rpg_header {
	position: relative;
	background: #4aaaa5;
	width: 148px;
	text-align: center;
	color: #fff;
	padding: 20px;
	font-size: 24px;
	bottom: 825px;
	left: 451px;

}

#trivia_header {
	position: relative;
	background: #4aaaa5;
	width: 148px;
	text-align: center;
	color: #fff;
	padding: 20px;
	font-size: 24px;
	bottom: 645px;
	left: 171px;

}

#rutgers_header {
	position: relative;
	background: #4aaaa5;
	width: 168px;
	text-align: center;
	color: #fff;
	padding: 10px;
	font-size: 24px;
	bottom: 716px;
	left: 451px;

}

#rock_header {
	position: relative;
	background: #4aaaa5;
	width: 168px;
	text-align: center;
	color: #fff;
	padding: 10px;
	font-size: 24px;
	bottom: 535px;
	left: 171px;

	}

	#footer_portfolio {
	background-color: #666666;
	padding: 40px;
	color: #fff;
	text-align: center;
	z-index: 2;
	position: relative;
	bottom: 290px;

}

	#blue_footer_portfolio {
	background-color: #4aaaa5;
	padding: 3px;
	position: relative;
	bottom: 290px;
	z-index: 1;
}
