/* Fill in the CSS */

html, body {
    max-width: 100%;
    overflow-x: hidden;

}

html, body {
	max-height: 100%;
	overflow-y: hidden;
}


#whole {
	background-image: url(../images/concrete_seamless.png);	

}

#h1 {
	margin-left: 120px;
	background: #4aaaa5;
	color: white;
	width: 230px;
	padding: 5px;
	text-align: center;
	font-family: Georgia;
	padding-right: 40px;
	padding-left: 40px;
	position: relative;	
	top: 50px;



}

#about_portfolio_contact {
	position: relative;
	left: 990px;
	bottom: 30px;
	font-family: sans-serif;	


}

#border {
	border: 1px solid #dddddd;
	margin-top: -20px;
	border-top-width: 5px;
}

#about_me {
	margin-top: 35px;
	margin-left:120px;
	border: 1px solid #dddddd;
	width: 755px;
	padding-left: 50px;
	color: #4aaaa5;
	font-size: 25px;
	background-color: #fff;
	padding-bottom: 30px;
	font-family: Helvetica;	
	position: relative;
	bottom: 15px;
}

#connect_with_me {
	position : relative;
	left: 970px;
	bottom: 479px;
	color: #4aaaa5;
	border: 1px solid #dddddd;
	width:205px;
	text-align: center;
	padding: 15px;
	background-color: #fff;
	padding-bottom: 25px;
	font-family: Arial;
}

#copyright {
	position: relative;
	bottom: 165px;
	background: #666666;
	text-align: center;
	padding: 2px;
	color: white;
	z-index: 2;

}

#bio {
	position: relative;
	bottom: 582px;
	left: 486px;
	font-family: sans-serif;
}

#blue {
	position: relative;
	bottom: 525px;
	background: #4aaaa5;
	text-align: center;
	z-index: 1;
	color: #4aaaa5;
}

#white {
	border: 1px solid #fff;
	margin-bottom: 21px;
	background-color: #fff;

}




